/* --- VARIABLES, FUENTES Y PALETA DE COLORES --- */

/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&family=Quicksand:wght@400;700&family=Outfit:wght@400;700&family=Titillium+Web:wght@700&family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

/* Paleta de Colores */
$bg-main: #121212;
$bg-grid-lines: rgba(200, 200, 200, 0.04);
$bg-display: #1a1a1a;
$bg-keyboard: #000;
$bg-output-screen: #111;
$history-panel-bg: #1f1f1f;
$history-header-bg: #2b2b2b;
$nav-bg: #333;

$color-display-text: #f0e68c;
$history-text-color: #e0e0e0;
$history-input-color: #b0b0b0;
$history-border-color: #404040;
$history-hover-bg: #333333;
$color-lineas-output: #ddd;
$color-error: #e84d4d;
$focus-color: #66FF66;

/* Colores de Botones */
$btn-num-bg: #FFFF66;
$btn-op-bg: #FF3333;
$btn-special-bg: #6666FF;
$btn-equal-bg: #66FF66;
$btn-text-color: #000;
$btn-disabled-bg: #333;
$btn-disabled-text: #666;
$history-clear-btn-bg: #e74c3c;
$history-clear-btn-hover-bg: #c0392b;

/* Dimensiones */
$nav-height: 60px;

/* Variables para el Lector de Números (dentro del modal) */
$ln-color-fondo: #f8f9fa;
$ln-color-texto-principal: #333;
$ln-color-entero: #0d6efd;
$ln-color-decimal: #198754;
$ln-color-coma: #dc3545;
$ln-color-placeholder: #6c757d;